
﻿<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasyon Web uygulamasının kullanıcı Dashboard panelinde bulunmaktasınız. Aşağıda sizin ve acentamızın bazı istatistik bilgileri yer almaktadır. Bu istatistiklerin sizlerle beraber artmasını temenni ediyoruz. Gezi dolu daha nice günlerdede buluşmak dileğiyle.</p>
                <h4 class="card-title">........</h4>
                <h6><strong>Aktif Rezervasyon Sayınız:</strong> 3</h6>
                <h6><strong>Geçmiş Rezervasyon Sayınız:</strong> 11</h6>
                <h6><strong>Onay Bekleyen Rezervasyon Sayınız:</strong> 1</h6>
                <h6><strong>Toplam Rota Sayısı:</strong> 18</h6>
                <h6><strong>Rehber Sayımız:</strong> 6</h6>
                <h6><strong>Toplam Misafir Sayımız:</strong> 187</h6>
                <h6><strong>Ortalama Puanımız:</strong> 9.3/10</h6>
            </div>
        </div>
    </div>
</div>