
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

        @await Html.PartialAsync("/Views/MemberLayoutPartial/_HeaderPartial.cshtml")


<body class="g-sidenav-show  bg-gray-100">

        @await Html.PartialAsync("/Views/MemberLayoutPartial/_SidebarPartial.cshtml")


  <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">

        @await Html.PartialAsync("/Views/MemberLayoutPartial/_NavbarPartial.cshtml")

    <div class="container-fluid py-4">

        @RenderBody()

    </div>

  </main>

        @await Html.PartialAsync("/Views/MemberLayoutPartial/_RightbarPartial.cshtml")

        @await Html.PartialAsync("/Views/MemberLayoutPartial/_ScriptsPartial.cshtml")

</body>
</html>