@model List<GetAllGuideQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<style>
    img{
        border-radius:50%;
    }
</style>

<br />
<h1>MediatR Rehber Listesi (CQRS)</h1>
<br />

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Rehber Adı</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
    <tr>
        <td>@count</td>
        <td><img src="@item.Image" height="50" width="50" /></td>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
        <td><a href="/Admin/GuideMediatR/GetGuide/@item.GuideID" class="btn btn-outline-success">Güncelle</a></td>
    </tr>
    }
</table>
<a href="/Admin/GuideMediatR/AddGuide/" class="btn btn-outline-primary">Yeni Rehber Ekle</a>
