
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Raporlar Sayfası</h1>

<br />

<a href="/Admin/Report/StaticExcelReport/" class="btn btn-outline-info">Statik Excel Raporu</a>
<br /><br />

<a href="/Admin/Report/DestinationExcelReport/" class="btn btn-outline-primary">Tur Rotaları Excel Raporu</a>
<br /><br />

<a href="/Admin/Report/StaticPdfReport/" class="btn btn-outline-warning">Statik Pdf Raporu</a>
<br /><br />

<a href="/Admin/Report/StaticCustomerPdfReport/" class="btn btn-outline-secondary">Tur Rotaları Pdf Raporu</a>
